*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: peachpuff;
  --secondary-color: black;
  --font-size-base: 1rem;
  --transition-base: 0.5s ease-out;
  --transition-short: 0.25s ease-out;
}

body {
  font-family: monospace;
}

a {
  text-decoration: none;
  color: black;
}
