*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-size-base: 1rem;
  --transition-base: 0.5s ease-out;
  --transition-short: 0.25s ease-out;
}

body {
  font-family: monospace;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: transparent;
  border: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
