#flip-clock {
  width: clamp(10rem, 40vw, 30rem);
  z-index: 9000;

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: translate(calc((50vw - 3.75rem) - 50%), calc(50vh - 50%));
  background-color: black;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.5rem;

  /* 3D omgeving / de scene */
  perspective: 100rem;
  transform-style: preserve-3d;

  & ul {
    display: grid;
    list-style: none;

    /* 3D omgeving */
    transform-style: preserve-3d;

    & li {
      display: grid;
      grid-area: 1/1;
      rotate: X calc(var(--angle) - var(--tiental, 0) * 1turn);

      /* 3D omgeving */
      transform-style: preserve-3d;

      @media (prefers-reduced-motion: no-preference) {
        transition: 0.8s ease-in-out;
      }

      > div {
        grid-area: 1/1;
        backface-visibility: hidden;
      }

      > div:nth-of-type(2) {
        background-color: #fff;

        /* initieel omgedraaid en dus niet zichtbaar */
        transform: rotateX(180deg);
      }
    }
  }

  & svg {
    width: 100%;
  }

  /* 0 */
  & ul[data-nummer='0'] li:nth-of-type(1) {
    --angle: -9deg;
  }
  & ul[data-nummer='0'] li:nth-of-type(2) {
    --angle: -7deg;
  }
  & ul[data-nummer='0'] li:nth-of-type(3) {
    --angle: -5deg;
  }
  & ul[data-nummer='0'] li:nth-of-type(4) {
    --angle: -3deg;
  }
  & ul[data-nummer='0'] li:nth-of-type(5) {
    --angle: -1deg;
  }
  & ul[data-nummer='0'] li:nth-of-type(6) {
    --angle: -171deg;
  }
  & ul[data-nummer='0'] li:nth-of-type(7) {
    --angle: -173deg;
  }
  & ul[data-nummer='0'] li:nth-of-type(8) {
    --angle: -175deg;
  }
  & ul[data-nummer='0'] li:nth-of-type(9) {
    --angle: -173deg;
  }
  & ul[data-nummer='0'] li:nth-of-type(10) {
    --angle: -171deg;
  }

  /* 1 */
  & ul[data-nummer='1'] li:nth-of-type(1) {
    --angle: -171deg;
  }
  & ul[data-nummer='1'] li:nth-of-type(2) {
    --angle: -9deg;
  }
  & ul[data-nummer='1'] li:nth-of-type(3) {
    --angle: -7deg;
  }
  & ul[data-nummer='1'] li:nth-of-type(4) {
    --angle: -5deg;
  }
  & ul[data-nummer='1'] li:nth-of-type(5) {
    --angle: -3deg;
  }
  & ul[data-nummer='1'] li:nth-of-type(6) {
    --angle: -359deg;
  }
  & ul[data-nummer='1'] li:nth-of-type(7) {
    --angle: -179deg;
  }
  & ul[data-nummer='1'] li:nth-of-type(8) {
    --angle: -177deg;
  }
  & ul[data-nummer='1'] li:nth-of-type(9) {
    --angle: -175deg;
  }
  & ul[data-nummer='1'] li:nth-of-type(10) {
    --angle: -173deg;
  }

  /* 2 */
  & ul[data-nummer='2'] li:nth-of-type(1) {
    --angle: -173deg;
  }
  & ul[data-nummer='2'] li:nth-of-type(2) {
    --angle: -171deg;
  }
  & ul[data-nummer='2'] li:nth-of-type(3) {
    --angle: -9deg;
  }
  & ul[data-nummer='2'] li:nth-of-type(4) {
    --angle: -7deg;
  }
  & ul[data-nummer='2'] li:nth-of-type(5) {
    --angle: -5deg;
  }
  & ul[data-nummer='2'] li:nth-of-type(6) {
    --angle: -361deg;
  }
  & ul[data-nummer='2'] li:nth-of-type(7) {
    --angle: -359deg;
  }
  & ul[data-nummer='2'] li:nth-of-type(8) {
    --angle: -179deg;
  }
  & ul[data-nummer='2'] li:nth-of-type(9) {
    --angle: -177deg;
  }
  & ul[data-nummer='2'] li:nth-of-type(10) {
    --angle: -175deg;
  }

  /* 3 */
  & ul[data-nummer='3'] li:nth-of-type(1) {
    --angle: -175deg;
  }
  & ul[data-nummer='3'] li:nth-of-type(2) {
    --angle: -173deg;
  }
  & ul[data-nummer='3'] li:nth-of-type(3) {
    --angle: -171deg;
  }
  & ul[data-nummer='3'] li:nth-of-type(4) {
    --angle: -9deg;
  }
  & ul[data-nummer='3'] li:nth-of-type(5) {
    --angle: -7deg;
  }
  & ul[data-nummer='3'] li:nth-of-type(6) {
    --angle: -363deg;
  }
  & ul[data-nummer='3'] li:nth-of-type(7) {
    --angle: -361deg;
  }
  & ul[data-nummer='3'] li:nth-of-type(8) {
    --angle: -359deg;
  }
  & ul[data-nummer='3'] li:nth-of-type(9) {
    --angle: -179deg;
  }
  & ul[data-nummer='3'] li:nth-of-type(10) {
    --angle: -177deg;
  }

  /* 4 */
  & ul[data-nummer='4'] li:nth-of-type(1) {
    --angle: -177deg;
  }
  & ul[data-nummer='4'] li:nth-of-type(2) {
    --angle: -175deg;
  }
  & ul[data-nummer='4'] li:nth-of-type(3) {
    --angle: -173deg;
  }
  & ul[data-nummer='4'] li:nth-of-type(4) {
    --angle: -171deg;
  }
  & ul[data-nummer='4'] li:nth-of-type(5) {
    --angle: -9deg;
  }
  & ul[data-nummer='4'] li:nth-of-type(6) {
    --angle: -365deg;
  }
  & ul[data-nummer='4'] li:nth-of-type(7) {
    --angle: -363deg;
  }
  & ul[data-nummer='4'] li:nth-of-type(8) {
    --angle: -361deg;
  }
  & ul[data-nummer='4'] li:nth-of-type(9) {
    --angle: -359deg;
  }
  & ul[data-nummer='4'] li:nth-of-type(10) {
    --angle: -179deg;
  }

  /* 5 */
  & ul[data-nummer='5'] li:nth-of-type(1) {
    --angle: -179deg;
  }
  & ul[data-nummer='5'] li:nth-of-type(2) {
    --angle: -177deg;
  }
  & ul[data-nummer='5'] li:nth-of-type(3) {
    --angle: -175deg;
  }
  & ul[data-nummer='5'] li:nth-of-type(4) {
    --angle: -173deg;
  }
  & ul[data-nummer='5'] li:nth-of-type(5) {
    --angle: -171deg;
  }
  & ul[data-nummer='5'] li:nth-of-type(6) {
    --angle: -367deg;
  }
  & ul[data-nummer='5'] li:nth-of-type(7) {
    --angle: -365deg;
  }
  & ul[data-nummer='5'] li:nth-of-type(8) {
    --angle: -363deg;
  }
  & ul[data-nummer='5'] li:nth-of-type(9) {
    --angle: -361deg;
  }
  & ul[data-nummer='5'] li:nth-of-type(10) {
    --angle: -359deg;
  }

  /* 6 */
  & ul[data-nummer='6'] li:nth-of-type(1) {
    --angle: -359deg;
  }
  & ul[data-nummer='6'] li:nth-of-type(2) {
    --angle: -179deg;
  }
  & ul[data-nummer='6'] li:nth-of-type(3) {
    --angle: -177deg;
  }
  & ul[data-nummer='6'] li:nth-of-type(4) {
    --angle: -175deg;
  }
  & ul[data-nummer='6'] li:nth-of-type(5) {
    --angle: -173deg;
  }
  & ul[data-nummer='6'] li:nth-of-type(6) {
    --angle: -531deg;
  }
  & ul[data-nummer='6'] li:nth-of-type(7) {
    --angle: -367deg;
  }
  & ul[data-nummer='6'] li:nth-of-type(8) {
    --angle: -365deg;
  }
  & ul[data-nummer='6'] li:nth-of-type(9) {
    --angle: -363deg;
  }
  & ul[data-nummer='6'] li:nth-of-type(10) {
    --angle: -361deg;
  }

  /* 7 */
  & ul[data-nummer='7'] li:nth-of-type(1) {
    --angle: -361deg;
  }
  & ul[data-nummer='7'] li:nth-of-type(2) {
    --angle: -359deg;
  }
  & ul[data-nummer='7'] li:nth-of-type(3) {
    --angle: -179deg;
  }
  & ul[data-nummer='7'] li:nth-of-type(4) {
    --angle: -177deg;
  }
  & ul[data-nummer='7'] li:nth-of-type(5) {
    --angle: -175deg;
  }
  & ul[data-nummer='7'] li:nth-of-type(6) {
    --angle: -533deg;
  }
  & ul[data-nummer='7'] li:nth-of-type(7) {
    --angle: -531deg;
  }
  & ul[data-nummer='7'] li:nth-of-type(8) {
    --angle: -367deg;
  }
  & ul[data-nummer='7'] li:nth-of-type(9) {
    --angle: -365deg;
  }
  & ul[data-nummer='7'] li:nth-of-type(10) {
    --angle: -363deg;
  }

  /* 8 */
  & ul[data-nummer='8'] li:nth-of-type(1) {
    --angle: -363deg;
  }
  & ul[data-nummer='8'] li:nth-of-type(2) {
    --angle: -361deg;
  }
  & ul[data-nummer='8'] li:nth-of-type(3) {
    --angle: -359deg;
  }
  & ul[data-nummer='8'] li:nth-of-type(4) {
    --angle: -179deg;
  }
  & ul[data-nummer='8'] li:nth-of-type(5) {
    --angle: -177deg;
  }
  & ul[data-nummer='8'] li:nth-of-type(6) {
    --angle: -535deg;
  }
  & ul[data-nummer='8'] li:nth-of-type(7) {
    --angle: -533deg;
  }
  & ul[data-nummer='8'] li:nth-of-type(8) {
    --angle: -531deg;
  }
  & ul[data-nummer='8'] li:nth-of-type(9) {
    --angle: -367deg;
  }
  & ul[data-nummer='8'] li:nth-of-type(10) {
    --angle: -365deg;
  }

  /* 9 */
  & ul[data-nummer='9'] li:nth-of-type(1) {
    --angle: -365deg;
  }
  & ul[data-nummer='9'] li:nth-of-type(2) {
    --angle: -363deg;
  }
  & ul[data-nummer='9'] li:nth-of-type(3) {
    --angle: -361deg;
  }
  & ul[data-nummer='9'] li:nth-of-type(4) {
    --angle: -359deg;
  }
  & ul[data-nummer='9'] li:nth-of-type(5) {
    --angle: -179deg;
  }
  & ul[data-nummer='9'] li:nth-of-type(6) {
    --angle: -537deg;
  }
  & ul[data-nummer='9'] li:nth-of-type(7) {
    --angle: -535deg;
  }
  & ul[data-nummer='9'] li:nth-of-type(8) {
    --angle: -533deg;
  }
  & ul[data-nummer='9'] li:nth-of-type(9) {
    --angle: -531deg;
  }
  & ul[data-nummer='9'] li:nth-of-type(10) {
    --angle: -367deg;
  }
}

@media (max-width: 700px) {
  #flip-clock {
    transform: translate(calc((50vw - 3.75rem) - 50%), calc(40vh - 50%));
  }
}

@media (max-width: 420px) {
  #flip-clock {
    transform: translate(calc(50vw - 50%), calc(40vh - 50%));
  }
}
