header {
  width: 30vw;
  position: fixed;
  z-index: 3000;

  .logo {
    --initial-delay: 12s;
    --ani-duration: 1.5s;
  }
}

/**********/
/* LOGO  */
/**********/

.logo {
  --initial-delay: 6.5s;
  --ani-duration: 2.5s;

  width: clamp(11rem, 40vw, 15rem);
  padding: 2rem;

  rect {
    --ani-delay: var(--initial-delay);
    animation: var(--ani-name) var(--ani-duration) ease-out var(--ani-delay)
      forwards;
    transform: scaleX(0) scaleY(0);
  }

  .c {
    rect {
      &:first-of-type {
        --ani-name: transform-horizontal;
      }

      &:nth-of-type(2) {
        --ani-name: transform-vertical;
        --ani-delay: calc(var(initial-delay) + 0.2s);

        transform-origin: 0 100px;
      }

      &:nth-of-type(3) {
        --ani-name: transform-horizontal;
        --ani-delay: calc(var(initial-delay) + 0.6s);
        transform-origin: 50px;
      }
    }
  }

  .s-1 {
    rect {
      &:first-of-type {
        --ani-name: transform-vertical;
        --ani-delay: calc(var(initial-delay) + 0.2s);
      }

      &:nth-of-type(2) {
        --ani-name: transform-horizontal;
        transform-origin: 270px;
      }

      &:nth-of-type(3) {
        --ani-name: transform-horizontal;
        --ani-delay: calc(var(initial-delay) + 0.5s);
        transform-origin: 300px;
      }

      &:nth-of-type(4) {
        --ani-name: transform-vertical;
        transform-origin: 0 60px;
      }

      &:nth-of-type(5) {
        --ani-name: transform-horizontal;
        --ani-delay: calc(var(initial-delay) + 0.2s);
        transform-origin: 340px;
      }
    }
  }

  .s-2 {
    rect {
      &:first-of-type {
        --ani-name: transform-vertical;
      }

      &:nth-of-type(2) {
        --ani-name: transform-horizontal;
        transform-origin: 490px;
      }

      &:nth-of-type(3) {
        --ani-name: transform-horizontal;
        --ani-delay: calc(var(initial-delay) + 0.3s);
        transform-origin: 520px;
      }

      &:nth-of-type(4) {
        --ani-name: transform-vertical;
        --ani-delay: calc(var(initial-delay) + 0.2s);
        transform-origin: 0 60px;
      }

      &:nth-of-type(5) {
        --ani-name: transform-horizontal;
        --ani-delay: calc(var(initial-delay) + 0.6s);
        transform-origin: 560px;
      }
    }
  }

  .d {
    rect {
      &:first-of-type {
        --ani-name: transform-horizontal;
        --ani-delay: calc(var(initial-delay) + 0.2s);
      }

      &:nth-of-type(2) {
        --ani-name: transform-vertical;
        transform-origin: 0 320px;
      }

      &:nth-of-type(3) {
        --ani-name: transform-vertical;
        --ani-delay: calc(var(initial-delay) + 0.1s);
        transform-origin: 0 260px;
      }

      &:nth-of-type(4) {
        --ani-name: transform-horizontal;
        transform-origin: 70px;
      }
    }
  }

  .a {
    rect {
      &:first-of-type {
        --ani-name: transform-horizontal;
        transform-origin: 215px;
      }

      &:nth-of-type(2) {
        --ani-name: transform-vertical;
        --ani-delay: calc(var(initial-delay) + 0.5s);
        transform-origin: 0 385px;
      }

      &:nth-of-type(3) {
        --ani-name: transform-vertical;
        --ani-delay: calc(var(initial-delay) + 0.1s);
        transform-origin: 0 260px;
      }

      &:nth-of-type(4) {
        --ani-name: transform-horizontal;
        --ani-delay: calc(var(initial-delay) + 0.2s);
        transform-origin: 300px;
      }
    }
  }

  .y {
    rect {
      &:first-of-type {
        --ani-name: transform-vertical;
        --ani-delay: calc(var(initial-delay) + 0.3s);
        transform-origin: 0 210px;
      }

      &:nth-of-type(2) {
        --ani-name: transform-vertical;
        --ani-delay: calc(var(initial-delay) + 0.2s);
        transform-origin: 0 385px;
      }

      &:nth-of-type(3) {
        --ani-name: transform-horizontal;
        --ani-delay: calc(var(initial-delay) + 0.6s);
        transform-origin: 520px;
      }

      &:nth-of-type(4) {
        --ani-name: transform-horizontal;
        --ani-delay: calc(var(initial-delay) + 0.1s);
        transform-origin: 450px;
      }
    }
  }
}

@keyframes transform-horizontal {
  0% {
    transform: scaleX(0) scaleY(1);
  }

  60% {
    transform: scaleX(3.5) scaleY(1);
  }

  70% {
    transform: scaleX(2) scaleY(1);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes transform-vertical {
  0% {
    transform: scaleY(0) scaleX(1);
  }

  60% {
    transform: scaleY(3) scaleX(1);
  }

  70% {
    transform: scaleY(2) scaleX(1);
  }

  100% {
    transform: scaleY(1) scaleX(1);
  }
}

/* color themes met style queries */

.showable {
  position: absolute;
  width: 5rem;
  height: 10rem;
  right: -50vw;
  background-image: linear-gradient(
    to right in oklch,
    transparent 0 2.4rem,
    gold 2.4rem 2.6rem,
    transparent 2.6rem 5rem
  );
  transform: translateY(-2rem);
  transition: var(--transition-base);

  &::before {
    content: '';
    position: absolute;
    width: 0.6rem;
    aspect-ratio: 1/2;
    background-color: goldenrod;
    bottom: -0.3rem;
    border-radius: 50% 50% 0 0;
    left: calc(50% - 0.3rem);
  }

  &::after {
    content: '';
    position: absolute;
    width: 0.6rem;
    aspect-ratio: 1/2;
    bottom: -1rem;
    left: calc(50% - 0.3rem);
    background-image: linear-gradient(
      in oklch to right,
      goldenrod 0 10%,
      transparent 10% 20%,
      goldenrod 20% 30%,
      transparent 30% 40%,
      goldenrod 40% 55%,
      transparent 55% 70%,
      goldenrod 70% 80%,
      transparent 80% 90%,
      goldenrod 90% 100%
    );
  }

  &:active,
  &:hover {
    transform: translateY(0);
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

body:has(input[name='show']:checked) .showable {
  filter: brightness(0);
}

body:has(input[name='show']:focus) .showable {
  &::after {
    box-shadow: 0 0 1rem white;
  }
}

.hideable {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  width: 12rem;
  transform: translateY(10rem) translateX(-20rem);
  transition: var(--transition-base);

  label {
    flex: 1 1 4rem;
  }
}

body:has(input[name='show']:checked) .hideable {
  transform: translateY(10rem) translateX(0);
}

/************/
/* SETTINGS */
/************/

@media (prefers-color-scheme: dark) {
  :root {
    --colors: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --colors: light;
  }
}

:root:has([value='dark']:checked) {
  --colors: dark;
}

:root:has([value='light']:checked) {
  --colors: light;
}

:root:has([value='party']:checked) {
  --colors: dark;
  --party: true;
}

/**********/
/* THEMES */
/**********/

body {
  color-scheme: light;
}

@container style(--colors:dark) {
  body {
    color-scheme: dark;

    main > section:not(#flip-clock) {
      --bg-clr: #0f1219;
      --bg-clr-2: #102a43;
      --deg-1: 45deg;
      --deg-2: 135deg;
      --deg-3: 225deg;
      --deg-4: 315deg;
      --circle-position: bottom;

      background-image: radial-gradient(
          circle at var(--circle-position) in oklch,
          rgba(13, 90, 168, 0.7) 1% 2%,
          transparent 80%
        ),
        linear-gradient(
          var(--deg-1) in oklch,
          var(--bg-clr) 0%,
          transparent 70%
        ),
        linear-gradient(
          var(--deg-2) in oklch,
          var(--bg-clr-2) 10%,
          transparent 80%
        ),
        linear-gradient(
          var(--deg-3) in oklch,
          var(--bg-clr-2) 10%,
          transparent 80%
        ),
        linear-gradient(
          var(--deg-4) in oklch,
          var(--bg-clr) 100%,
          transparent 70%
        );

      &:nth-of-type(2n) {
        --deg-1: 225deg;
        --deg-2: 315deg;
        --deg-3: -45deg;
        --deg-4: -135deg;
        --circle-position: top;
      }
    }

    .hideable {
      filter: invert(100%);
    }

    .logo {
      fill: white;
    }

    .most-popular > button {
      filter: invert();
    }
  }

  @media (max-width: 420px) {
    body main > section:not(#flip-clock) {
      background-image: none;
      background-color: color-mix(
        in oklch,
        color-mix(in oklch, var(--year-color, papayawhip), transparent 50%),
        black 20%
      );
    }
  }
}

@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@container style(--party:true) {
  body main > section:not(#flip-clock) {
    background-image: repeating-conic-gradient(
      from var(--angle, 0deg) in oklch,
      var(--clr-1) 0deg,
      var(--clr-2),
      var(--clr-3),
      var(--clr-1) 30deg
    );

    &:nth-of-type(4n - 3) {
      --clr-1: blueviolet;
      --clr-2: cyan;
      --clr-3: yellow;

      animation: draaien 30s infinite linear reverse;
    }

    &:nth-of-type(4n - 2) {
      --clr-1: indigo;
      --clr-2: green;
      --clr-3: gold;

      animation: draaien 30s infinite linear;
    }

    &:nth-of-type(4n - 1) {
      --clr-1: gold;
      --clr-2: hotpink;
      --clr-3: cornflowerblue;

      animation: draaien 30s infinite linear reverse;
    }
    &:nth-of-type(4n) {
      --clr-1: mediumvioletred;
      --clr-2: seagreen;
      --clr-3: sandybrown;

      animation: draaien 30s infinite linear;
    }
  }
}

@keyframes draaien {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

@media (max-width: 790px) {
  header {
    display: flex;

    .logo {
      transform: translateX(calc(50vw - 3.8rem - 50%));
    }
  }
}

@media (max-width: 420px) {
  .showable {
    display: none;
  }

  .hideable {
    display: none;
  }

  header .logo {
    transform: translateX(calc(50vw - 50%));
    padding: 2rem 0;
  }
}
