body {
  overflow-y: hidden;
}

main {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

main > section:not(#flip-clock) {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  z-index: 1;
  /* background-color: color-mix(
    in oklch,
    var(--year-color, papayawhip),
    transparent 80%
  ); */
  background-image: linear-gradient(
    to left,
    color-mix(in oklch, var(--year-color, papayawhip), transparent 50%) 0 17%,
    color-mix(in oklch, var(--year-color, papayawhip), transparent 80%) 17%
  );

  &:nth-of-type(2) {
    --year-color: var(--2024);
  }

  &:nth-of-type(3) {
    --year-color: var(--2023);
  }

  &:nth-of-type(4) {
    --year-color: var(--2022);
  }

  &:nth-of-type(5) {
    --year-color: var(--2021);
  }

  &:nth-of-type(6) {
    --year-color: var(--2020);
  }

  &:nth-of-type(7) {
    --year-color: var(--2019);
  }

  &:nth-of-type(8) {
    --year-color: var(--2018);
  }

  &:nth-of-type(9) {
    --year-color: var(--2017);
  }

  &:nth-of-type(10) {
    --year-color: var(--2016);
  }

  &:nth-of-type(11) {
    --year-color: var(--2015);
  }

  &:nth-of-type(12) {
    --year-color: var(--2014);
  }

  &:nth-of-type(13) {
    --year-color: var(--2013);
  }
}
