.mc {
  position: relative;
  width: 40vw;
  aspect-ratio: 2/1;
  border: 2px solid #f09;
  transform: translateX(calc((50vw - 3.75rem) - 50%));

  img {
    width: 50%;
    filter: drop-shadow(5px 0 0 black);
    position: absolute;
    bottom: 0;

    &:last-of-type {
      right: 0;
    }
  }
}
