.most-popular {
  background-color: white;
  position: absolute;
  padding: 2rem;
  width: 80vw;
  top: calc(80vh - 50%);
  left: calc(10vw - 3.75rem);
  aspect-ratio: 2 / 1;
  z-index: 10000;

  &::before {
    position: absolute;
    top: -2rem;
    height: 2rem;
    width: 100%;
  }

  h2,
  h3 {
    color: var(--ticket-secondary-color);
    font-size: var(--font-size-base);
  }

  img {
    filter: none;
    width: 10%;

    &:first-of-type {
      border-radius: 50%;
    }

    &:last-of-type {
      width: 100%;
      border: 1px solid grey;
    }
  }

  a {
    text-decoration: underline;
  }
}

body:has(.mostpopular:target) #flip-clock {
  display: none;
}
