nav ul {
  position: fixed;
  height: 80vh;
  top: 10vh;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 2rem;

  li {
    list-style: none;
    font-family: monospace;
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    transition: var(--transition-short);
    padding: 0.25rem;

    a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: 1.5px solid black;
      border-radius: 0.2rem;
      padding: 0.5rem;
      transition: var(--transition-short);
    }

    &::before {
      --width: 0.5rem;
      content: '';
      position: absolute;
      background-color: black;
      width: var(--width);
      height: 0.1rem;
      right: calc(var(--width) * -1);
      top: 50%;
      transition: 0.25s ease-out;
    }
  }
}

li:has(+ li + li:hover) {
  flex-grow: 1.2;

  a {
    background-color: #fff1;
  }
}

/* 1 voor hover */
li:has(+ li:hover) {
  flex-grow: 2;

  a {
    background-color: #fff2;
  }
}

/* hover */
li:hover {
  flex-grow: 3;

  &::before {
    --width: 1rem;
  }

  a {
    background-color: #fff5;
  }
}

/* 1 na hover */
li:hover + li {
  flex-grow: 2;

  a {
    background-color: #fff2;
  }
}

li:hover + li + li {
  flex-grow: 1.2;

  a {
    background-color: #fff1;
  }
}
main {
  scroll-timeline: --main;
}

.progress-bar {
  animation: adjust-progress-bar linear;
  animation-timeline: --main;
  animation-duration: auto;
  transform-origin: top;
  position: fixed;
  height: 100vh;
  right: 0;
  width: 0.5rem;
  /* background: linear-gradient(
    to bottom,
    var(--2024) 0 10%,
    var(--2023) 10% 18%,
    var(--2022) 18% 26%,
    var(--2021) 26% 34%,
    var(--2020) 34% 42%,
    var(--2019) 42% 50%,
    var(--2018) 50% 58%,
    var(--2017) 58% 66%,
    var(--2016) 66% 74%,
    var(--2015) 74% 82%,
    var(--2014) 82% 90%,
    var(--2013) 90% 100%
  ); */
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes adjust-progress-bar {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
